* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.5em 2em;
  border: 2px solid lightgray;
  cursor: pointer;
  background: whitesmoke;
}

#otherButton {
  border-color: red;
}

h1 {
  font-size: 5em;
}
